/*------------------------------------*\
  $VARIABLES
\*------------------------------------*/
/**
 * CONTENTS
 * FONT................
 * BREAKPOINTS.........
 * COLOR-SHEME.........Set theme colors
 * FONT................
 * BASE................
 * HEADER..............
 * CONTENT.............
 * FORM................
 * LISTS...............
 * GRID................
 */



/*------------------------------------*\
  $FONT
\*------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic);



/*------------------------------------*\
  $BREAKPOINTS
\*------------------------------------*/

$breakpoint-s:  480px;
$breakpoint-m:  720px;
$breakpoint-l:  960px;
$breakpoint-xl: 1200px;

$breakpoint-s-max:  $breakpoint-s - 1;
$breakpoint-m-max:  $breakpoint-m - 1;
$breakpoint-l-max:  $breakpoint-l - 1;
$breakpoint-xl-max: $breakpoint-xl - 1;



/*------------------------------------*\
  $COLOR-SHEME
\*------------------------------------*/
/**
 * Basic colors
 * Fancy generator: https://kuler.adobe.com
 */
$cs-a: #0074BD; // blue
$cs-b: #cccccc; // grey



/*------------------------------------*\
  $FONT
\*------------------------------------*/

$font-family:     'Source Sans Pro', sans-serif;
$font-base-color: #333;



/*------------------------------------*\
  $BASE
\*------------------------------------*/

body {
  font: normal 87.5%/1.538em $font-family, sans-serif;
}

html,
button,
input,
select,
textarea,
input.form-submit,
a.button {
  color: $font-base-color;
  font-family: $font-family;
}

:focus {
  outline: none;
}

/**
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: $cs-a;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: $cs-a;
  color: #fff;
  text-shadow: none;
}



/*------------------------------------*\
  $HEADER
\*------------------------------------*/

#branding {
  padding-top: 10px;

  h1.page-title {
    color: $font-base-color;
  }
}



/*------------------------------------*\
  $CONTENT
\*------------------------------------*/

#page {
  margin-right: 20px;
  margin-left: 20px;
}



/*------------------------------------*\
  $FORM
\*------------------------------------*/

input.form-text,
input.form-file,
textarea.form-textarea,
select.form-select {
  padding: 0.35em;
  border: 1px solid $cs-b;
  font-size: 1em;
  transition: border-color 0.2s;

  &:focus {
    border-color: $cs-a;
  }
}

input.form-autocomplete {
  html.js & {
    background-position: 99.75% 7px;

    &.throbbing {
      background-position: 99.75% -13px;
    }
  }
}



/*------------------------------------*\
  $LISTS
\*------------------------------------*/

ul.action-links {
  padding: 0;
}

ul.primary {
  li {
    margin: 0 0 0 5px;

    a:link {
      border: none;
      border-radius: 0;
    }
  }
}



/*------------------------------------*\
  $GRID
\*------------------------------------*/
/**
 * Variables
 */
$u-grid-item-count: 12;

// sizes
$u-grid-size-s:  true;
$u-grid-size-m:  true;
$u-grid-size-l:  true;
$u-grid-size-xl: true;

// Spacing between items
$u-grid-spacing-s:  1em;
$u-grid-spacing-m:  1em;
$u-grid-spacing-l:  1.5em;
$u-grid-spacing-xl: 2em;

@import 'grid';